body{
    background-color: #FFC300;
    
}

@media only screen and (max-width: 360px){
    #backforth{

        padding: 50px;
        background-color: black;
        height: 20px;
        margin-bottom: 3px;
        width: 762px;
    }

    #i1{
    height: 100px;
    margin-top: 4px;
    border: 2px solid black;
    width: 252px;
    margin-left: 113px;
    }
    .c1{
        text-align: center;
    margin-top: 2px;
    /* margin-bottom: 10px; */
    
    color: #DD4A4A;
    /* text-decoration-line: underline overline;  */
     font-family:'MV Boli';
    border-radius: 14px;
    font-size: 100px;
    margin-left: 89px;
    }
}
#fbyt :hover {
    width: 36px;
    height: 36px;
    
}

#fb_yt_div{
    margin-left: 6px;
    background-color: #69ff33;
    padding: 7px;
    width: 80px;
    border-radius: 3px;
    border: solid black;
}



.bi bi-youtube{
color: rgb(255, 64, 47);
}
 
.item{
    background: #9F33FF;
    margin: 5px;
    padding: 8px;
    border: #FF3333 solid 3px;
    text-align: center;
    border-radius: 8px;
    width: 400px;
    /* flex: 1; Takes up whole widhth */
    
}

.navbar-nav{
    padding: 10px;
}

.item-1{
    flex-shrink: 0;
}

.item-2{
    /* flex: 2;
    flex-grow: 1; */
    align-self: flex-start;
}

.item-3{
    flex-grow: 2;
    align-content: flex-start;
}

/* .flex-container{
    display: flex;
    /*flex-direction: row;*/
    /* flex-direction: column; */
    /* flex-wrap: wrap-reverse;*/
    /* height: 50vh; */
    /* align-items: flex-end; */
    /* align-items: center;
    background:#E3D9D9;
    justify-content: space-around;
} */



.nav1{
    background: #581845;
    height: 70px;
}

.nav1 ul li{
    list-style: none;
    display: block;
float: right;
margin-right: 10px;
margin-bottom: 20px;
padding: 10px;
color: #E3D9D9;
}


.container{
    display: inline;
}

#i1{

    height: 100px;
    margin-top: 4px;
    border: 2px solid black;
    width: 430px;
}

#i2{
    height: 100px;
    margin-top: 4px;
    border: 2px solid black;
    width: 10px;
}

.c1{
    text-align: center;
    margin-top: 2px;
    /* margin-bottom: 10px; */
    
    color: #DD4A4A;
    /* text-decoration-line: underline overline;  */
     font-family:'MV Boli';
    border-radius: 14px;
    font-size: 100px;

}

/* #c2{
     background-color: #E3D9D9;
     /* margin-right: 1200px; */
     /* border-radius: 10px; */
     /* margin-left: 20px; */
     



#c2 ul{

    padding: 20px;
    list-style-type:none ;
    background-color: #E3D9D9;
    overflow: hidden;
    margin-right: 200px;
    margin-left: 25px;
    border-radius: 10px;
}

#c2 ul li{
    float: left;
    padding: auto;
    margin-right: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;


}
    
#c2 ul li a{

  color: #9F33FF;
  display: block;
  text-align: center;
}

    
#c2 ul li a:hover{

    color: #FF3333;
    background-color: #581845;
  }

img{
   margin-left: 25px;
   width: 450px;
   height: 300px;
   border-radius: 7px;

}


#head11 img{
   width: 100px;
   height: 80px;
   margin-top: 10px;

}

#head11 img:hover{
   
   width: 110px;
   height: 90px;


}

#fb{
    position: relative;
    margin-left: 50px;
}

#demo{
    position: relative;
    width: 700px;
    margin-left: 700px;
}

.img22{

    border: 2px solid white;
}

#demo456{

    width: fit-content;
    
}

.container-fluid{

    margin-right: 10px;
}

.nav-link{
    padding: 3px;
    color: #FFC300;
}

/* .container-fluid{
    margin: 10px;
} */


#backforth{

    padding: 50px;
    background-color: black;
    height: 20px;
    margin-bottom: 3px;
}

button :hover{
    font: aqua;
}

